Options -Indexes

ErrorDocument 404 /error/
ErrorDocument 403 /error/

php_flag output_buffering on
# HTID:16785089: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:16785089:
